/*TITLE & IMAGE*/
.lumen_description {
    text-align:center;
    padding-bottom:4rem;
    z-index:0;
}

.lumen_description p{
    font-size:3rem;
    padding-left:6rem;
    padding-right:5rem;
    padding-bottom:5rem;
    z-index:0;
    max-width:100%;
}

.parkeasy_description_img{
    position:absolute;
    top:18%;
    left:20%;
    z-index:-1;
}

.parkeasy_description_img img{
    max-width:70%;
    opacity:0.2;
    z-index:-1;
}


/*NAV*/
.navbar {
    padding:2rem;
    font-size:1rem;
}

.navbar a{
    letter-spacing:0.05rem;
    text-decoration:none;
}

/*DEFAULT TEXT PROPERTIES*/

h1 {
    font-family: Circular;
    letter-spacing: 0.2rem;
    font-size:5rem;
    padding-top:4rem;
    /* padding-left:0.5rem; */
}

h2 {
    font-family: Circular;
    letter-spacing: 0.1rem;
    padding-left:0.5rem;
    color:rgb(102,45,145);
}

h3 {
    font-family: Circular;
    letter-spacing: 0.1rem;
}

a{
    font-family: Circular;
    letter-spacing: 0.1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
    color:rgb(255, 195, 66);
}

p{
    font-family: CircularRegular;
    letter-spacing: 0.1rem;
}



li {
    font-family: CircularRegular;
    list-style:none;
    line-height:2rem;
    letter-spacing: 0.05rem;
    flex-wrap:wrap;
}

/* PROJECT DETAILS*/
.overview_body{
    padding-left:2rem;
}

.bold-text {
    font-family:Circular;
}

.body {
    padding-left:4rem;
    display:inline-block;
    white-space: nowrap; /*list does not wrap*/
    overflow-x: auto;
    overflow-y: hidden;

}

.bold_description{
    display:inline-block;
}

.bold_description h2{
    max-width:85%;
    padding-left:6.5rem;
    color:rgb(102,45,145);
}

.bold_description p{
    max-width:85%;
    padding-left:6.5rem;
    line-height:1.5rem;
}

/* PROPOSAL SECTION */


.proposal h3{
    text-align:center;
    color:gray;
}

.proposal h2 {
    padding-left:6rem;
    padding-right:6rem;
    font-family:Circular;
    color:rgb(66, 92, 244);
    font-size:2.5rem;
    text-align:center;
    margin-bottom:0rem;
}

.proposal p{
    text-align:center;
}

.proposal {
       font-size:1rem;
   }

/*RESEARCH & REFLECTION*/

.title h2{
    padding-left:8rem;
    display:inline-block;
    white-space: nowrap; /*list does not wrap*/
    overflow-x: auto;
    overflow-y: hidden;
}

.description p{
    max-width:85%;
    padding-bottom:1.5rem;
    padding-left:3.3rem;
    line-height:1.5rem;
}

.description h3{
    line-height:0.5rem;
}

.description {
    padding-left:22rem;
}



/* FEATURES */

.center_feature img{
    max-width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.feature {
    padding-top:4rem;
}


.left_img{
    display:inline-block;
    width:70%;
}

.left_img img{
    padding-top:5rem;
    padding-left:3rem;
    max-width:90%;
}


/* MEDIA QUERIES */

@media (max-width:1000px) {

    .overview{
        flex-direction: column;
    }

    .body{
        padding-left:2rem;
    }

    .parkeasy_research{
        flex-direction:column;
    }

    .title h2{
        padding-left:6.2rem;
    }

    .description {
        padding-left:6.2rem;
    }


    .left_img{
        padding-left:2rem;
    }

    .left_img img{
        padding-left:0rem;
    }
}

@media (max-width:850px) {

    .lumen_description{
        padding-bottom:0rem;
    }

    .overview {
        width:100%
    }

    .lumen_description p{
    font-size:2rem;
   }

    .left_vid video{u
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:600px;
    }

    .right_vid video{
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:300px;
    }

    .left_img img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-left:0rem;
        padding-bottom:0rem;
    }

    .feature_visuals {
        flex-direction:column;
    }

    .left_img img{
        max-width:150%;
        padding-left:1rem;
    }

    .center_feature img{
        max-width:100%;
    }

    .navbar {
        font-size:1.5rem;
    }

}

@media (max-width:660px) {

    .lumen_description h1{
        font-size:4rem;
    }

  .overview {
      padding-bottom:0rem;
  }

  .proposal h2{
      font-size:1.6rem;
  }

   .details{
        flex-direction:column;
   }

   .details {
       padding-left:0rem;
   }

   .description p{
       padding-left:0rem;
   }

   .left_img img{
       max-width:150%;
       padding-left:0rem;
   }

   .navbar {
    flex-direction:column;
    text-align:center;
    font-size:1.5rem;
}

}
