

/* MEDIA QUERIES FOR LUMEN PROJECT*/

@media (max-width:1000px) {

    .overview{
        flex-direction: column;
    }

    .body{
        padding-left:2rem;
    }

    .parkeasy_research{
        flex-direction:column;
    }

    .title h2{
        padding-left:6.2rem;
    }

    .description {
        padding-left:6.2rem;
    }


    .left_img{
        padding-left:2rem;
    }

    .left_img img{
        padding-left:0rem;
    }
}

@media (max-width:850px) {

    .lumen_description{
        padding-bottom:0rem;
    }

    .overview {
        width:100%
    }

    .lumen_description p{
    font-size:2rem;
   }

    .left_vid video{u
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:600px;
    }

    .right_vid video{
        display:block;
        margin-left: auto;
        margin-right: auto;
        height:300px;
    }

    .left_img img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-left:0rem;
        padding-bottom:0rem;
    }

    .feature_visuals {
        flex-direction:column;
    }

    .left_img img{
        max-width:150%;
        padding-left:1rem;
    }

    .center_feature img{
        max-width:100%;
    }

    .navbar {
        font-size:1.5rem;
    }

}

@media (max-width:660px) {

    .lumen_description h1{
        font-size:4rem;
    }

  .overview {
      padding-bottom:0rem;
  }

  .proposal h2{
      font-size:1.6rem;
  }

   .details{
        flex-direction:column;
   }

   .details {
       padding-left:0rem;
   }

   .description p{
       padding-left:0rem;
   }

   .left_img img{
       max-width:150%;
       padding-left:0rem;
   }

   .navbar {
    flex-direction:column;
    text-align:center;
    font-size:1.5rem;
}

}
