
/* NAV BAR */

.navbar {
    padding:2rem;
    font-size:1rem;

}

.navbar a{
    letter-spacing:0.05rem;
    text-decoration:none;
    color:rgb(255, 195, 66);
}


body {
    background-color:black;
}

/* TEXT */

h1 {
    font-family: Circular;
    letter-spacing: 0.6rem;
    padding-left:0.5rem;
}

h2 {
    font-family: Circular;
    letter-spacing: 0.6rem;
    padding-left:0.5rem;
}

h3 {
    font-family: Circular;
    letter-spacing: 0.1rem;
    padding-left:0.5rem;
}

a{
    font-family: Circular;
    letter-spacing: 0.1rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

a:hover {
    color:white;
  }

p{
    font-family: CircularRegular;
    letter-spacing: 0.1rem;

}
/* IMAGE CSS */
img:hover {
    opacity:0.5;
}

img {
    transition-property: all;
    transition-duration: 0.5s;
}

/* HEADINGS */
.Headings {
    padding-bottom:3rem;
}

/* BODY COPY */
.Paragraphs p{
    padding-left:0.5rem;
    max-width:50%;
}

.Paragraphs{
    padding-bottom: 3rem;
}

.Links p{
    padding-left:0.5rem;
}

.Links h3 {
    color: rgb(255, 195, 66);
}

.parkeasy img{
    max-width:100%;
}
.projectDesc {
    color:white;
}
.lumenwire img{
    max-width:100%;
}

.projects{
    width:82%;
    padding-top:10rem;
    padding-left:13rem;
}

.parkeasy_projectDesc {

    line-height:0.2rem;
    display:block;
    float:right;
    text-align:right;
    font-size:0.75rem;
    color:white;
    position:relative;
    right:7%;
}

.lumen_projectDesc {

    line-height:0.2rem;
    display: block;
    float:right;
    text-align:right;
    font-size:0.75rem;
    color:white;
    position:relative;
    right:7%;
}


/* @MEDIA */

@media (max-width:1300px) {

    .parkeasy_projectDesc{
        right:7%;
    }

    .lumen_projectDesc{
        right:7%;
    }
}

@media (max-width:1054px) {

    .projects{
        flex-direction:column;
    }

    .parkeasy{
        padding-bottom:4rem;
    }

    .parkeasy_projectDesc {
        right:5%;
    }

    .lumen_projectDesc {
        right:5%;
    }
}

@media (max-width:865px) {
    .projects {
        padding-left:5rem;
    }

    .parkeasy_projectDesc {
        right:6%;
    }

    .lumen_projectDesc {
        right:6%;
    }

}


@media (max-width:850px) {
    .navbar {
        font-size:1.5rem;
    }
}

@media (max-width:595px) {

    .projects {
    }
    .parkeasy_projectDesc {
        font-size:1rem;
        right:6%;
    }

    .lumen_projectDesc {
        right:6%;
        font-size:1rem;
    }

   .navbar {
    flex-direction:column;
    text-align:center;
    font-size:1.5rem;
}
}

@media (max-width:375px) {

    .projects {
        padding-left:2rem;
        max-width:150%;
    }
    .parkeasy_projectDesc {
        font-size:0.7rem;
        right:12%;
    }

    .lumen_projectDesc {
        right:12%;
        font-size:0.7rem;
    }

}
