/*
  STYLE GUIDE STYLING
*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  margin-left: 8em;


}

.heading {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 3em;
  margin-bottom: 2em;

}

.color1 {
  background-color:#000000;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color2 {
  background-color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  color:black;
  padding: 1.2em;
  max-width: 500px;
}

.color3 {
  background-color:#8d99ae;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color4 {
  background-color:#153e3f;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color5 {
  background-color:#e5db5c;
  font-size: 1.2em;
  text-align: center;
  color: black;
  padding: 1.2em;
  max-width: 500px;
}

/* END OF COLOR PALETTE */

/*HEADING JOCALE CSS */

.heading {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;

}


/*STYLEGUIDE + BASIC CSS */

/* SECTION TITLES */

section {
  max-width:800px;
}


.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

* {
  background: white;
  box-sizing: border-box;
}

code {
  background-color: #f4f3ea;
  padding: 0.5rem;
  display: block;
}

p , li {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.08em;
}


h2 , h3 , h4 , h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #28261a;
}


h6 {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  }

a {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

/* HOVER STATE */

li a:hover {
  background-color: #153e3f;
}

/* MAKE THEM ALIGN T LEFT*/

li {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.8;

}

li a {
  float: left;
  font-family:"Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.8;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}


.italic{
  font-style: italic;
}

.bold{
  font-weight: 400;
}

/* PERSONA IMAGES */


/* CAPTIONS UNDER IMAGES */
figcaption {
  font-family:"Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom:2rem;

}

/* END OF STYLEGUIDE/BASIC CSS */



.label-style {
  font-family:"Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color:black;
}


input:focus, textarea:focus, select:focus{
       outline: none;

   }



   input[type=submit]:focus , input[type=reset]:focus , input[type=text]:focus  {
   outline: none;
   color:black;
   decoration:none;

   }




/* LINE ELEMENTS CSS */


hr.line1 {
  border-top: 0.1em solid black;
}

hr.line2 {
  border-top: 0.1em dashed black;
  margin-top: 1em;
  margin-bottom: 1em;
}

#text-Input{
  text-decoration: none;
 }


/* IN TEXT LINK STYLING */
.intext-link , .cite {
  text-decoration: none;
  color: #153e3f;
}


/* PHOTO AS A LINK STYLING */

.photo-link:hover {
  opacity: 0.5;
}


/* NAVIGATION STYLING */


.button-nav-main {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  padding: 0.5rem;
  background-color: #153e3f;
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align: center;
  justify-content: center;
  width: 100%;
  border: solid 1px black;
  margin: 0;

}

.button-nav-main:hover, .button-nav-main:focus, .view-details:hover, .submit-form:hover ,.reset-form:hover , .subscribe-submit:hover{
  background-color:#e5db5c;
  color: #153e3f;
}


/* BUTTON STYLING */
.button-nav , .submit-form, .reset-form , .view-details ,.subscribe-submit{
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #153e3f;
  color: white;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border-style: none;

}

.subscribe-submit{
  padding: 1.1em;


}

.project-photo-link{
  max-width: 25%;
  height:auto;
  decoration:none;
  display: inline-block;
}


.project-photo-link:hover {
  opacity: 0.5;
}

.button-out{
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  font-size: 0.7rem;
  display: inline-block;
  padding: 1em;
  margin-top: 0.5rem;
  color: #f0eee3;
  background-color: #f0eee2;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0.5rem;

}

.button-nav:hover, .button-nav:focus ,  .submit-form:hover, .submit-form:focus, .reset-form:hover, .reset-form:focus .view-details:hover , ..view-details:focus {
  background-color: #e5db5c;
  color: black;

}


#citations ul a {
  font-size: 10pt;
}

.mel-title {
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  color: black;
  margin-top: -1em;
  margin-bottom: 0.5em;
  text-decoration: none;
  text-align: center;
  justify-content: center;


}


/* CONTAINING ALL TEXT INPUTS IN ONE BOX */
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px
  border-radius: 3px;
}

/* SEARCH STYLING */

input[type=text] {
  margin-bottom: 20px;
  padding: 1.1em;
  border: 1px solid #ccc;
  decoration: none;
}

input[type=search]:focus  {
outline: none;
color:#b4876e;
decoration:none;
}

input[type=search] {
  padding:1em;
  border: -0.5em solid black;
}
